/* Authors / Contributions
   Carlos Orellana
   David Nu Nu
*/

:root {
  --bg-color: #fcfcfc;
  --second-bg-color: #f8f8f8;
  --text-color: black;
  --main-color: #FF2C2C;
}

html,
body {
  all: unset;
}

section {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin-top: 70px;
}

.home {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/marvel-comic-background.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}

.home .content-container .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  transition: 0.3s ease;
  margin-bottom: 3rem;
  cursor: pointer;
}

.logo-container:hover {
  transform: scale(1.1);
}

.home .content-container .logo-container .logo-text {
  font-size: 4.2rem;
  font-weight: 700;
  color: var(--text-color);
}

.home .content-container .logo-container .logo-image {
  width: 15rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button {
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 0.7rem;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.play-button {
  padding: 1rem 4.2rem;
}

/* Small phones */
@media (max-width: 575px) {
  .home .content-container .logo-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home .content-container .logo-container .logo-image {
    width: 10rem;
    height: auto;
  }

  .home .content-container .logo-container .logo-text {
    font-size: 4rem;
  }

  .button-container {
    flex-direction: column;
  }
}