body {
  margin-top: 100px;
  display: flex;
  padding: 3rem 5rem;
}

.question-list {
  list-style: none;
  display: grid;
  gap: 16px;
  margin-top: 12px;
}

.question-item {
  list-style: none;
}

.question-box {
  border: 2px solid rgb(200, 200, 200);
  padding: 2rem;
  border-radius: 20px;
  display: grid;
  gap: 12px;
}

.type-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.points-badge {
  padding: 4px 12px;
  border-radius: 20px;
  border: 2px solid rgb(200, 200, 200);
  font-weight: 600;
}

.mc-section {
  display: grid;
  gap: 8px;
}

.mc-option {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mc-option input[type="radio"] {
  width: 25px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  padding: 4px 16px;
}

.mc-option .mc-opt {
  width: 200px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  padding: 4px 16px;
}

.trueorfalse-button {
  display: flex;
  gap: 16px;
}

.trueorfalse-button label {
  display: flex;
  align-items: center;
  gap: 6px; 
}

.trueorfalse-button label input[type="radio"] {
  margin: 0;
  padding: 0;
}

.question-type {
  width: 200px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  padding: 4px 8px;
}

.q-prompt {
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  width: 600px;
  padding: 8px;
  margin-bottom: 1rem;
}

.input-full {
  border: 2px solid rgb(200, 200, 200);
  border-radius: 20px;
  width: 600px;
  height: 100px;
  padding: 8px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.answer-input {
  height: 50px;
  width:300px;
}

label {
  font-weight: 600;
}

a {
  text-decoration: underline;
  color: gray;
}

.category-heading {
  margin-top: 2rem;
}

.set-title {
  margin-top: 1rem;
}

.button {
  border: none;
  background-color: #FF2C2C;
  color: white;
  border-radius: 0.7rem;
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
