body {
  padding: 5rem;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.question-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.question-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 1rem;
  width: clamp(300px, 80vw, 1200px);
}

.question-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.field-label {
  display: block;
  margin-bottom: 8px;
}

.input-full {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.mc-option {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0;
}

.btn-save,
.btn-delete,
.btn-delete-set {
  margin-top: 8px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
}

.section {
  margin: 8px 0;
}

.update-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.back-to-set {
  font-size: 14px;
  padding: 10px;
}

.back-to-set a {
  color: #7e7c7c;
  text-decoration: underline;
  font-weight: 600;
}